.vue-mzc-button-group {
	display: flex;
}
.vue-mzc-button-group__button {
	cursor: pointer;
	padding-left: 16px;
	padding-right: 16px;
	display: block;
	height: 32px;
	font-size: 14px;
	font-weight: 700;
	color: #0075FF;
	background-color: transparent;
	border: 1px solid #0075FF;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.vue-mzc-button-group__button:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.vue-mzc-button-group__button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.vue-mzc-button-group__button:not(:first-child) {
	margin-left: -1px;
}
.vue-mzc-button-group__button--active {
	color: #ffffff;
  background-color: #0075FF;
}
.vue-mzc-button-group__button--active:not(:first-child) {
	border-left-color: #ffffff;
}